@import url("/reaction_tester/base.css");
#clock {
    font-size: 1.5rem;
}

h2, h3, h4{
    text-align: center;
}

h3 {
    padding-top: 30px;
}

hr{
    color: var(--tp);
    margin: 20px 0 20px 0;
}
.container {
    background-color: var(--ct);
    text-align: left;
    border-radius: 20px;
    width: 90%;
    margin: 15px auto; 
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li{
    font-size: 1.15rem;
}

