@import url("/reaction_tester/base.css");
#clock {
    font-size: 1.5rem;
}

h2, h3, h4{
    text-align: center;
}

hr{
    color: var(--tp);
    margin: 10px 0 10px 0;
}
.container {
    background-color: var(--ct);
    text-align: left;
    border-radius: 20px;
    width: 90%;
    margin: 5px auto; 
    padding: 0 15px 15px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li{
    font-size: 1.15rem;
}

