@import url("/reaction_tester/base.css");

@keyframes colorFadeIn {
    0% { color: var(--tp); }
    100% { color: var(--lilac); }
  }

#ready_text {
    font-size: 2.5rem;
}

#back-button {
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    left: 5px;
}

.container {
    background-color: var(--ct);
    border-radius: 20px;
    width: 80%;
    height: 70vh;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        color: var(--lilac);
        animation: colorFadeIn 0.5s;        
    }
}

.attempt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.circle {
    background-color: var(--bg);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 5px;
}

#reset {
    font-size: 1.3em;
    font-weight: bold;
}

.modal{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;    
    top: 45vh;
    border: 3px solid var(--tp);
    background-color: var(--bg);
    width: 35vw;
    border-radius: 20px;
    color: var(--tp);

    li{text-align: left;}
}

#green{
    color: var(--green);
}

#close-button{
    position: relative;
    display: block;
    bottom: 210px;
    left: 835px;
    &:hover{
        transform: scale(1.05);
    }
}

