@import url("/reaction_tester/base.css");

@keyframes colorFadeIn {
    0% { color: var(--tp); }
    100% { color: var(--lilac); }
  }


#ready_text {
    font-size: 2.5rem;
}

#back-button {
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    left: 5px;
}

.container {
    background-color: var(--ct);
    border-radius: 20px;
    width: 80%;
    height: 60vh;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        color: var(--lilac);
        animation: colorFadeIn 0.5s;        
    }
}
@media (min-width: 768px) {
  .container{
    width: 80%;
    height: 50vh;
  }
}
.attempt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.circle {
    background-color: var(--bg);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 5px;
}

#reset {
    font-size: 1.3em;
    font-weight: bold;
}

.modal{
    position: relative;
    border: 3px solid var(--tp);
    background-color: var(--bg);
    border-radius: 20px;
    color: var(--tp);
    padding: 15px 40px 40px 40px;
}

li {
    text-align: left;
}

@media (max-width: 768px) {
    .modal{
        width: 90vw;
    }
}

#modal-ct{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#close-button{
    position: absolute;
    top: 10px;
    right: 10px;    
    
    &:hover{
        transform: scale(1.05);
    }
}

